@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #d9e8f3;
  overflow-x: hidden;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="border-radius: 50%;" width="20" height="20" viewBox="0 0 20 20"><rect x="0" y="0" width="20" fill="lightBlue" height="20" /></svg>'),
    auto;
}

div[data-card]::-webkit-scrollbar {
  width: 10px;
}

div[data-card]::-webkit-scrollbar-track {
  background-color: #306d9d;
}

div[data-card]::-webkit-scrollbar-thumb {
  background-color: #245276;
  border-radius: 3px;
}

div[data-card]::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

div[data-card]::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  display: #d9e8f3;
}

html::-webkit-scrollbar-thumb {
  background-color: #3c88c4;
  border-radius: 15px;
}

html::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

html::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

div[data-changeCursor]:hover {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="border-radius: 50%;" width="120" height="120" viewBox="0 0 120 120"><rect x="0" y="0" width="120" fill="black" height="120" /></svg>'),
    auto;
}
